# Compiled Object files
*.o
*.obj
*.slo
*.lo
*.bin
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.lai
*.la

# Executables
*.exe
*.out
*.app

# PROS
bin/
.vscode/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
*.log

# Prerequisites
*.d

# Bazel Build
*.bzl